<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../webjars/layui/css/layui.css">
    <!--<title>Curl</title>-->
<!--</head>-->
<!--<body>-->
<div style="vertical-align: middle;text-align: center;margin-top: 80px;">
    <div>API:
        <select class="layui-select layui-select-group">
            <option value ="service">Service</option>
            <option value ="user">User</option>
        </select>
    </div>
    <br/>

    <textarea style="width: 600px; height: 80px;background-color: black;color: white"></textarea>
    <br><br><br>
    <button class="layui-btn" style="text-align:center;" id="">Get</button>
</div>
<!--</body>-->
<!--</html>-->