<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../webjars/layui/css/layui.css">
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->
    <div style="vertical-align: middle;text-align: center;">
        <div>
            <textarea style="margin-top: 50px;width: 600px; height: 200px;background-color: black;color: white">请输入需要转换的Swagger类型的json数据</textarea>
            <br/><br/>
        </div>
        <button class="layui-btn" style="text-align:center;" id="">Test</button>
        <br/><br/>
        <fieldset class="layui-elem-field layui-field-title">
            <legend>Responses</legend>
        </fieldset>
    </div>
<!--</body>-->
<!--</html>-->